.introducao {
background-color: rgb(rgb(89, 174, 243));
margin: 20px;
padding: 30px;
border-radius: 15px;

display: flex;
justify-content: space-around;
align-items: center;
}

.texto {
    max-width: 400px;
}

button {
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 20px;
    background-color: rgb(rgb(89, 205, 252));
    color: rgb(0, 0, 0);
}

h3{
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: blue;
    color: white;
    border: solid;
    border-radius: 15px;
}






































body{

margin: 0;

}


.cabecalho_alto{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bebcbc;


}

.cabecalho_alto{

 
    font-size: 20px;
    color: #333;


}

.cabecalho_baixo{

  background-color: #c0c0c0;
  padding: 8px 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 5px solid #b3b3b3;

}

.botao{

   background-color: #dad6d6;
   border: 1px solid #5f5f5f;
   padding: 5px 12px;
   font-size: 13px;
   border-radius: 3px;
 
   
}

.botao:hover {

border-color: #20252b;    
background: linear-gradient(bottom, #e6f2ff, #cce0ff);

}

.botao_primario {
   background-color: #dad6d6;
   border: 1px solid #5f5f5f;
   padding: 5px 12px;
   font-size: 13px;
   border-radius: 3px;
}

.botao_cancel {
   background-color: #dad6d6;
   border: 1px solid #5f5f5f;
   padding: 5px 12px;
   font-size: 13px;
   border-radius: 3px;
}

.botao_quadrado{
 background-color: #92c8d898;
   border: 2px solid #005e75;
   padding: 5px 12px;
   font-size: 13px;
   border-radius: 3px;

}