.introducao {
background-color: rgb(rgb(89, 174, 243));
margin: 20px;
padding: 30px;
border-radius: 15px;

display: flex;
justify-content: space-around;
align-items: center;
}

.texto {
    max-width: 400px;
}

button {
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 20px;
    background-color: rgb(rgb(89, 205, 252));
    color: rgb(0, 0, 0);
}

h3{
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: blue;
    color: white;
    border: solid;
    border-radius: 15px;
}






































body{

margin: 0;

}


.cabecalho{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dadcdd;
    padding: 10px 20px;
    border-bottom: 5px solid #b9b8b8;

}

.cabecalho_alto{

    margin: 0;
    font-size: 20px;
    color: #333;


}

.cabecalho_baixo{

    display: flex;
    gap: 10px;


}

.botao1{

    padding: 8px 14px;
    border: 1px solid rgb(194, 194, 194);
  
    border-radius: 4px;
   
}

.botao2{

    background-color: #e2e2e2;

}

